@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

/* @keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-fade-in-left {
  animation: fadeInLeft 1.2s ease forwards;
} */

/* @keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fadeInUp 0.9s ease forwards;
}
.animate-fade-in-up[animation-delay] {
  animation-delay: var(--animation-delay);
} */

/* testimonal section */

.franchise_partner_testimonal .owl-carousel .owl-stage-outer .owl-stage {
  padding: 20px 0px !important;
}

.franchise_partner_testimonal
  .owl-carousel
  .owl-stage-outer
  .owl-stage
  .owl-item {
  height: 285.33px !important;
}

.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot span {
  background: #8bcfcf !important;
}

.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot.active span,
.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot:hover span {
  background: #0d7377 !important;
}

/* frnchise partner section logo section */
.franchise-logos.owl-theme .owl-nav.disabled + .owl-dots {
  display: none !important;
}
