@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

/* loader logo slider */
@keyframes slide-logo {
  0% {
    transform: translateX(100%);
    opacity: 0.2;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.2;
  }
}

.animate-slide-logo {
  animation: slide-logo 1.5s ease-in-out infinite;
}

/* testimonal section */

.franchise_partner_testimonal .owl-carousel .owl-stage-outer .owl-stage {
  padding: 20px 0px !important;
}

.franchise_partner_testimonal
  .owl-carousel
  .owl-stage-outer
  .owl-stage
  .owl-item {
  height: 285.33px !important;
}

.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot span {
  background: #8bcfcf !important;
}

.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot.active span,
.franchise_partner_testimonal .owl-theme .owl-dots .owl-dot:hover span {
  background: #0d7377 !important;
}

/* frnchise partner section logo section */
.franchise-logos.owl-theme .owl-nav.disabled + .owl-dots {
  display: none !important;
}
